<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Audio</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

    <div class="background-image">
        <header>
            <div class="heading-container">
                <h1>LegalEease</h1>
            </div>
        </header>
    </div>
    <h1>Audio Playback</h1>
    <audio controls>
        <source src="{{ url_for('static', filename=filename) }}" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
</body>
</html>
